.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: lightgray;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__text {
    color: lightseagreen;
    margin-left: 10px;
}